body {
    font-family: Arial, sans-serif;
    background-color: #242424;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 18px;
    color: #d1d1d1;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
}

.option {
    background-color: #444444;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    text-align: left;
    border: 2px solid #3a6ea5;
}

pre {
    color: #f2f2f2;
}

button {
    background-color: #3a6ea5;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #2a537a;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#resultado.green {
    color: #32CD32;
}

#resultado.red {
    color: #ff4d4d;
}

#code-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.block {
    background-color: #3a6ea5;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

#drop-area {
    background-color: #444444;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    min-height: 100px;
    text-align: center;
}

.drag-over {
    border: 2px dashed #3a6ea5;
}


#instructions {
    margin-bottom: 20px;
    text-align: center;
}